server {
    listen 80;
    server_name {{ virtual_domain }};
    root /var/www/{{ virtual_domain }}/www/;
    index index.php index.html index.htm;
    access_log /var/www/{{ virtual_domain }}/log/access.log main;
    error_log /var/www/{{ virtual_domain }}/log/error.log;

    gzip             on;
    gzip_min_length  1000;
    gzip_proxied     expired no-cache no-store private auth;
    gzip_types       text/plain application/xml;
}
